.container {
  cursor: pointer;
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  margin: 0.25rem;
}

.container:hover {
  transform: scale(2.5);
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

@media (max-width: 875px) {
  .container:hover {
    transform: scale(1);
    transition: none;
  }
}

@media (pointer: coarse) {
  .container:hover {
    transform: scale(1);
    transition: none;
  }
}

.quantity {
  position: relative;
  left: 5rem;
  top: -10rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  background-color: blue;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  z-index: 1;
}