.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 4rem;
  padding: 0.5rem;
  overflow: auto;
  max-height: fit-content;
}

@media (max-width: 875px) {
  .main {
    margin: 4rem 0.5rem;
  }
}
